<section id="sidebar">

    <div class="white-label">
        <a href="/profile">
            <p class="application" style="color: white">Application Portal</p>
        </a>
    </div>
    <div id="sidebar-nav">

        <ul>

            <li class="active"></i></li><br><br><br><br><br><br><br><br><br>
            <li><a href="#"><i class="fa fa-desktop"></i><img src="/od.png" class="od" height="25px" width="25px">OD
                    Apply</a></li><br><br><br>
            <li><a href="/profile/leave"><i class="fa fa-usd"></i> <img src="/clock.png" class="leave" height="25px"
                        width="25px">Leave Apply</a></li>
            <footer>
                <a href="/auth/logout"><img src="/logout (1).png" height="25px" width="25px">Logout</a>
            </footer>
        </ul>
    </div>
</section>
<script src="sideNav.ejs"></script>